#home {
  height: 100vh;
  min-width: 100%;
  background-image: url(../../images/bg.jpg);
  position: relative;
  background-size: 100% 100%;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.72);
    content: '';
  }
  h1 {
    font-size: 49px !important;
    font-weight: 700;
    span {
      color: #339beb;
    }
  }
}

.home__section {
	display:flex;
	justify-content:center;
  min-height: 100vh;
  position: relative;
  color: white;

}
.home__text {
  text-align: center;
  position: absolute;
  top: 40%;
	max-width: 100vw;
  width: 100%;
  z-index: 1;
  font-size: 20px;
}
