#projects {
  text-align: center;
  min-height: 70vh;
  height: 100%;

}
.projects__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
}
