.contacts__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;

    li {
      margin: 20px 10px;
    }
  }
  a {
    transition: all 0.3s linear;
  }
}
.contacts__icon {
  display: inherit;
  flex-direction: row;
  width: 50%;
  font-size: 38px;

  a {
    color: black;
    transition: all 0.3s linear;
    &:hover {
      color: #007bff;
    }
  }
}
